@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url("./assets/fonts/static/Inter-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

:root {
    --color-white: hsl(36, 100%, 99%);
    --color-grayish-blue: hsl(233, 8%, 79%);
    --color-dark-grayish-blue: hsl(236, 13%, 42%);
    --color-dark-blue: hsl(240, 100%, 5%);
    --color-soft-orange: hsl(35, 77%, 62%);
    --color-soft-red: hsl(5, 85%, 63%);
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-white);
}

.wrapper {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 768px) {
    .wrapper {
        padding: 2rem;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.none,
.close {
    display: none;
}

@media (max-width: 767px) {
    .nav.active {
        position: relative;
        background-color: var(--color-white);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70%;
    }

    .close {
        display: block;
    }

    .nav__list {
        margin-top: 10rem;
        list-style-type: none;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .nav__list__item {
        font-size: 1.5rem;
    }

    .close {
        width: 38px;
        height: 38px;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}

.nav__list__item:hover,
nav__list__item:active {
    color: var(--color-soft-red);
    cursor: pointer;
}

/* header media query */
@media (min-width: 768px) {
    .hamburger-icon {
        display: none;
    }

    .nav {
        display: flex;
    }

    .nav__list {
        display: flex;
        gap: 3rem;
    }

    .nav__list__item {
        list-style-type: none;
        color: var(--color-dark-grayish-blue);
    }
}

main {
    display: grid;
    gap: 2rem;
}

@media (min-width: 1024px) {
    main {
        grid-template-columns: repeat(3, 1fr);
    }
}

.featured {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

@media (min-width: 1024px) {
    .featured {
        grid-column: 1 / 3;
    }
}

.featured__img {
    width: 100%;
    margin-bottom: 1rem;
}

.featured__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media (min-width: 768px) {
    .featured__content {
        flex-direction: row;
        gap: 4rem;
    }
}

.featured__title {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.1;
    color: var(--color-dark-blue);
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (min-width: 768px) {
    .featured__title {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 40%;
        font-size: 3rem;
    }
}

.featured__desc {
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-dark-grayish-blue);
    margin-bottom: 1rem;
}

@media (min-width: 768px) {
    .featured__desc {
        flex-grow: 1;
        flex-basis: 60%;
        margin-bottom: 2rem;
    }
}

.featured__btn {
    align-self: start;
    border: none;
    background-color: var(--color-soft-red);
    color: var(--color-dark-blue);
    text-transform: uppercase;
    padding: 0.7rem 1.5rem;
    letter-spacing: 0.2rem;
    font-size: .875rem;
    font-weight: 700;
}

.featured__btn:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
    cursor: pointer;
}

.new {
    background-color: var(--color-dark-blue);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .new {
        justify-content: space-around;
    }
}

.new__heading {
    color: var(--color-soft-orange);
}

@media (min-width: 768px) {
    .new__heading {
        font-size: 2.5rem;
    }
}

.new__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.new__content-divider {
    border: 1px solid var(--color-dark-grayish-blue);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.new__content__title {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-white);
}

.new__content__title:hover {
    color: var(--color-soft-orange);
}

.new__content__desc {
    color: var(--color-grayish-blue);
    font-size: .875rem;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media (min-width: 1024px) {
    .posts {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column: 1/4;
    }
}

.post {
    display: flex;
    gap: 1.2rem;
    align-items: flex-start;
}

.post__img-wrapper {
    flex: 0 0 120px;
    height: 100%;
}

.post__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.post__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__no {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-soft-red);
}

.post__link {
    text-decoration: none;
    font-weight: 700;
    color: var(--color-dark-blue);
    font-size: 1.2rem;
}

.post__link:hover,
.post__link:active {
    color: var(--color-soft-red);
    cursor: pointer;
}

.post__desc {
    font-size: 1rem;
    color: var(--color-dark-grayish-blue);
}

.attribution {
    display: flex;
    justify-content: center;
    gap: 3px;
}